PORT=5003
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/?retryWrites=true&w=majority
NOTIFICATION_SERVICE_URL=http://localhost:5002/notification
FRONTEND_URL=http://localhost:3000
